JWT_SECRET=secret-key-min-32-symbols-but-better-256-so-please-be-careful-with-this
#15 минут (миллисекунды)
JWT_EXPIRATION=9000000
#3 дня (миллисекунды)
REFRESH_EXPIRATION=259200000
SERVER_PORT=
DATABASE_URL=
DB_USER=
DB_PASSWORD=
DEBUG_ENABLED=false