@import "tailwindcss";


:root {
    --main: #FAFAFA;
    --primary: #484848;
    --secondary: #242424;
    --accent-base: #56AE63;
    --accent-light: #54CA58;
    --auxiliary: #63EDDC;
    --input-outline: #323232;
    --input-placeholder: #666666;
    --placeholder-hover: #888888;
    --placeholder-active: #AAAAAA;
    --error: #F80000;

}

@theme inline {
    --color-main: var(--main);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent-base: var(--accent-base);
    --color-accent-light: var(--accent-light);
    --color-auxiliary: var(--auxiliary);
    --color-input-outline: var(--input-outline);
    --color-input-placeholder: var(--input-placeholder);
    --color-placeholder-hover: var(--placeholder-hover);
    --color-placeholder-active: var(--placeholder-active);
    --color-error: var(--error);
}