@import "tailwindcss";


:root {
    --main: #FAFAFA;
    --primary: #484848;
    --secondary: #242424;
    --accent-base: #56AE63;
    --accent-light: #54CA58;
    --auxiliary: #63EDDC;
}

@theme inline {
    --color-main: var(--main);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent-base: var(--accent-base);
    --color-accent-light: var(--accent-light);
    --color---auxiliary: var(--auxiliary);
}